# Méthodes d'optimisation: Contrôle continu (CC)

## Librairies

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report

import seaborn as sns
import matplotlib.pyplot as plt

## Dataset

In [2]:
df = pd.read_csv("pingouins.csv")

In [3]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,2007
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,2007
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,2007
...,...,...,...,...,...,...,...
269,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,2009
270,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,2009
271,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,2009
272,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,2009
273,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,2009

In [4]:
df.shape

(274, 7)

## Exercice 1

**Problème de regression**

Implémetez un ou plusieurs modèles de machine learning permettant de **prédire la variable continue `body_mass_g`** du dataset donné.

Essayez de rendre un notebook propre, avec du texte explicatif et du code commenté.

## Exercice 2

**Problème de classification**

Implémetez un ou plusieurs modèles de machine learning permettant de **prédire la variable discrète `species`** du dataset donné.

Essayez de rendre un notebook propre, avec du texte explicatif et du code commenté.